body {
  font-family: sans-serif;
}
.img1 {
  border-radius: 4px;
  padding: 5px;
  width: 175px;
}
.main {
  width: 80vw;
  margin-left: 21vw;
}
.sidebar {
  float: left;
  width: 20vw;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.sidebar li {
  list-style-type: none;
  text-align: left;
  margin: 0.1rem 0;
}
.welcome-header {
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 1rem;
  margin: 1rem 0;
}
.logo {
  width: 125px;
}
.special-li {
  color: gray;
  border-bottom: 0.25px gray solid;
  padding: 0.05rem;
}

img {
  width: 30%;
  float: left;
  margin-right: 5px;
}

h4 {
  color: black;
  font-weight: bold;
}
.row {
  height: 300px;
}

#ves {
  float: right;
}

#purple {
  background-color: rgb(208, 168, 245);
}
.nav {
  margin-left: 20vw;
  margin-top: 5vh;
}

#center {
  padding-top: 4rem;
}
#make-me-green {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 0.5rem 1rem;
}
#search-bar {
  width: 300px;
}

a {
  color: blue;
}

#recent {
  text-align: right;
  width: 80%;
  font-size: small;
}
.sidebar ul {
  width: 80%;
}
